/*
	Modified from http://timtrott.co.uk/notepad-colour-schemes/
	Neon theme
*/
textarea {
  border : 0;
  overflow-y : auto; /* IE */
  resize : none; /* Firefox, Chrome */
}

button
{
	font-size:22pt;
	white-space: normal;
}

button:active
{
	color: #FF0000;
}

#ButtonControls button
{
	width: 100%;
}

input
{
	font-size:20pt
}
body
{
	font-size:20pt;
	/*Disable scrolling and dragging*/
	overflow: hidden
}

#report{
	font-size:20pt
}
#container {
    margin:20px auto;
}

#content {
    float:left;
}

#sidebar {
    float:left;
}

#footer {
    clear:both;
}

